


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.box{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 70%;
    position: relative;
    justify-content: center;
}
img{
    width: 100%;
    height: 100%;
}

.product-display{
    width: 100%;
    display: flex;
    justify-content: center;
 
}

.display{  
    width: 100%;

}
.display ul {
    list-style: none;
    display: flex;
    cursor: pointer;
    

}
.display ul li {
    margin-right: 40px;
}

.display li:hover{
    transform: translateY(-15px);
}

